@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../../uploads/admin/bgHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.607);
    background-blend-mode: darken;


}


/* Navbar */
#navbar {
    background-color: rgba(0, 0, 0, 0.758);
    background-blend-mode: darken;
    position: sticky;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(100px);
}

/* Isi konten */
#isi {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 3em 2em;
}

/* Tombol utama */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

/* Style dasar tombol */
.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 3em;
    width: 12em;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: 1.5px solid #00bcd4;
    color: #00bcd4;
    backdrop-filter: blur(15px);
    background-blend-mode:hard-light;
    box-shadow: 0 4px 8px rgba(0, 188, 212, 0.2);
    cursor: pointer;
}

/* Hover */
.button a:hover {
    background: #0097a7;
    color: white;
}

/* Aktif (tombol yang sedang dipilih) */
.button a.active {
    background: #00bcd4;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 188, 212, 0.4);
    border-color: #00bcd4;
}

/* Tampilan tabel */
.tampilan {
    width: 90%;
}

.containerTampil {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 10px 12px  rgba(0, 188, 212, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);        
    border-radius: 8px;
    overflow: hidden;

  
   
}

thead {
    background-color: #000000;
    background-blend-mode: hard-light;
    backdrop-filter: blur(100px);
    color: white;

}

th {
    padding: 12px;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
}

td {
    padding: 10px;
    text-align: center;
    background-color: #00000000;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
 
    
}

/* tbody tr:nth-child(even) {
    background-color: #e9f7fa;
} */

tbody tr:hover {
    background-color: #007c8a;
    transition: background-color 0.2s ease-in-out;
}

.buttonHapus:hover {
    background-color: red;
    color: white;
}