@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../../uploads/admin/bgHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
#navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(100px);
}
#isi {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 3em 2em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 3em;
    width: 12em;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease-in-out;
}

.button a:nth-child(1) {
    background: transparent;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.3);
    color: #0097a7;
    border: 1.5px solid #0097a7;
}

.button a:nth-child(1):hover {
    background: #0097a7;
    color: white;
}

.button a:nth-child(2) {
    background: transparent;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.3);
    color: #0097a7;
    border: 1.5px solid #0097a7;
}

.button a:nth-child(2):hover {
    background: #0097a7;
    color: white;
}

.tampilan {
    width: 90%;
}

.containerTampil {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.3);
}

thead {
    background-color: #0097a7;
    color: white;
}

th {
    padding: 12px;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #007c8a;
}

td {
    padding: 10px;
    text-align: center;
    background-color: #e0f7fa;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.buttonHapus {
    text-decoration: none;
    padding: 0 .3em;
    background-color: white;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    transition: all ease-in-out .1s;
}

.buttonHapus:hover {
    background-color: red;
    color: white;
}
